{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une soirée</h1>
    {{ form(formulaire) }}

    <a class="btn btn-warning" href="{{ path("home") }}">&lt;Retour à la liste</a>

{% endblock %}