{% extends 'base.html.twig' %}

{% block title %}Qui Doit Quoi ?{% endblock %}

{% block body %}

    <h3>Vous êtes sur la soirée : {{ soiree.nom }}</h3>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Montant</th>
            <th>Qui doit Quoi ?</th>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div>
        <a class="btn btn-warning" href="{{ path("soiree_ajouter") }}">&lt; Créer une nouvelle soirée</a>
    </div>
    {% for s in soiree %}
    <div>
        <a class="btn btn-warning" href="{{path("soiree_supprimer",{"id":s.id})}}">&lt; Veut tu supprimer cette soirée ?</a>
        <h1>fo</h1>
    </div>
    {% endfor %}
{% endblock %}
