{% extends 'base.html.twig' %}

{% block title %}Qui Doit Quoi ?{% endblock %}

{% block body %}

    <h3>Vous êtes sur la soirée : {{ soiree.nom }}</h3>

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Montant</th>
            <th>Qui doit Quoi ?</th>
        </tr>
        <tr>
            <td>Content</td>
            <td>Content</td>
            <td>Content</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>Content</td>
            <td>Content</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>Content</td>
            <td>Content</td>
        </tr>
    </table>
    <div>
        <a class="btn btn-warning" href="{{ path("soiree_ajouter") }}">&lt; Créer une nouvelle soirée</a>
    </div>
    <div>
        <a class="btn btn-success" href="{{ path("soiree_ajouter_personne",{"id":soiree.id}) }}">&lt; Ajouter une
            personne a la soirée</a>
    </div>
    <div>
        <a class="btn btn-warning" href="{{ path("soiree_supprimer",{"id":soiree.id}) }}">&lt; Veut tu supprimer cette
            soirée ?</a>
    </div>
{% endblock %}
