{% extends 'base.html.twig' %}

{% block title %}Qui Doit Quoi ?{% endblock %}

{% block body %}
    <h1>Titre de la soiree</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom Personne</th>
            <th scope="col">Argent</th>
            <th scope="col">Ce que tu dois</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Default</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <th scope="row">Default</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <th scope="row">Default</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
