{% extends 'base.html.twig' %}

{% block title %}Qui Doit Quoi{% endblock %}

{% block body %}
    <div class="jumbotron container_pres">
        <h1 class="display-3">Comment ça marche ?</h1>
        <p class="lead">Qui doit quoi créer un tableau permettant de voir qui doit payer quoi.</p>
        <hr class="my-4">
        <p>Grace a la création d'un compte vous avez la possibilité de voir vos recap d'anciennes soirées.</p>
    </div>
    <a class="btn btn-primary btn-lg btn-soiree" href="#" role="button">Créer une soirée</a>
{% endblock %}
